site/config/site.config.php

site/mods/*
!site/mods/README.md
!site/mods/Example

site/themes/*
!site/themes/README.md

vendor

core/cdk/node_modules
core/cdk/maltkit-cdk.js
core/cdk/maltkit-cdk.min.js
